
.home-page {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-items: center; 
    max-width: 320px; 
    box-sizing: border-box; 
    padding: 20px; 
    padding-top: 100px;
    padding-bottom: 100px; 
    margin: 0 auto; 
    background: #eaeaea; 
} 

.home-page h1 {
    font-size: 24px; 
    font-family: sans-serif; 
    text-align: center; 
} 
